
  /* Modal */
  .overlay {
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: 20;
  }
  
  .modalContainer {
    max-width: 700px;
    /* max-height: 700px; */
    width: 30%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    overflow-y:auto;
    margin-top: 50px;
  }

  .modalRight {
    width: 100%;
    padding: 20px;

  }


 
  .btnContainer {
    display: flex;
    justify-content: right;
    padding: 15px;
    padding: 10px;
  }
  
  .resetButton {
 
    width: 80px;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
  }

  .confirmButton{
    width: 80px;
    background-color: rgb(137, 154, 14);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
  }


  .childrenDesign{
    word-wrap: break-word;
  }



