
.onlineStoreCardContainer{
    display: flex;
    .onlineStorePhoto img{
        margin-top: 10px;
        display: block;
        height: 100px;
        width: 100px;
        border-radius: 10px;
        object-fit: cover;
    }
    .onlineStoreDetailsInfo{
        margin-left: 20px;
    }
    .tagDesign{
        background-color: purple;
        color: white;
        padding: 5px;
        width: fit-content;
        border-radius: 5px;
    }
}

.imageSliderDesign{
    display: flex;
    justify-content: space-between;

    img{
        height: 400px;
        width: 300px;
        border-radius: 10px;
        object-fit: cover;
    }
}