.card-layout-design{
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  
}

.card-layout-design h5{
    text-align: center;
    justify-content: center;
    padding-top: 4px;
}

.cardHeader{
    display: flex;
}

.cardHeader span {
    margin: 5px;
    cursor: pointer;
}