// button style
@mixin buttonStyle($button_background_color, $fontsize) {
  margin: 10px;
  background-color: $button_background_color;
  color: $title;
  padding: 10px;
  border-radius: 10px;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  font-size: $fontsize;
  width: 100%;
}

// to put the tile in the center

@mixin itemCenter($titlePadding) {
  text-align: center;
  padding: $titlePadding;
}

@mixin avatarDesign($avatarBackColor) {
  height: 70px;
  width: 70px;
  background-color: $avatarBackColor;
  border-radius: 90px;

  h5 {
    text-align: center;
    line-height: 70px;
  }
}

//////////////////////////////////////////////////////////////////
///////////////// Auth Form Container ////////////////////////////
//////////////////////////////////////////////////////////////////

// to show form card in the center of the main page.
@mixin formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// to design form card
@mixin authFormCard {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: white;

  h5 {
    @include itemCenter(30px);
  }
}

// to design input field

@mixin inputFieldDesign {
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
