$continerbackground: rgb(163, 23, 205);
$container: blue;
$title: white;
$navbarbackground: black;
$buttoncolor: orangered;
$secondButton: purple;

$listContainer: rgb(229, 114, 26);

// Font

$fontButton1: 20px;
$fontButton2: 25px;